/* header */

.logoImage {
  width: 3rem;
  height: 3rem;
}


/* footer */

.logoKor {
  height: 2.3rem;
}


/* orgChart, history */

.CIImage {
  width: 15%;
}

.companyImage {
  width: 80%;
}

.imageUploadButton {
  color: #2E7D32;
  border: 1px solid rgba(46, 125, 50, 0.5);
  border-radius: 8px;
  background-color: rgba(46, 125, 50, 0.1);
  cursor: pointer;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
}

.imageUploadButton:hover {
  background-color: rgba(239, 245, 241, 0.5);
}

#orgChartInput {
  display: none;
}

#historyInput {
  display: none;
}

/* products */

.categoryImage {
  width: 100%;
}


/* productForm */

.productInput {
  display: none;
}

.fileUploadButton {
  color: #2E7D32;
  border: 1px solid rgba(46, 125, 50, 0.5);
  border-radius: 8px;
  background-color: rgba(46, 125, 50, 0.1);
  cursor: pointer;
  width: 90px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fileUploadButton:hover {
  background-color: rgba(239, 245, 241, 0.5);
}

/* productCategoryForm */
#productCategoryInput {
  display: none;
}

.categoryUploadButton {
  color: #2E7D32;
  border: 1px solid rgba(46, 125, 50, 0.5);
  border-radius: 8px;
  background-color: rgba(46, 125, 50, 0.1);
  cursor: pointer;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px
}

.categoryUploadButton:hover {
  background-color: rgba(239, 245, 241, 0.5);
}


/* archiveForm, noticeForm */

.ck-editor__editable {
  min-height: 400px;
}

/* admin panel*/

.uploadButton {
  color: #2E7D32;
  border: 1px solid rgba(46, 125, 50, 0.5);
  border-radius: 8px;
  background-color: rgba(46, 125, 50, 0.1);
  cursor: pointer;
  width: 80px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}

#bannerInput,
#headerLogoInput,
#footerLogoInput {
  display: none;
}