/* header */

.logoImage {
  width: 3rem;
  height: 3rem;
}


/* footer */

.logoKor {
  height: 2.3rem;
}


/* orgChart */

.CIImage {
  width: 20%;
}

.orgChartImage {
  width: 100%;
}


/* products */

.categoryImage {
  width: 100%;
}


/* productForm */

.productInput {
  display: none;
}

.fileUploadButton {
  color: #2E7D32;
  border: 1px solid rgba(46, 125, 50, 0.5);
  border-radius: 8px;
  background-color: rgba(46, 125, 50, 0.1);
  cursor: pointer;
  width: 90px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fileUploadButton:hover {
  background-color: rgba(239, 245, 241, 0.5);
}


/* archiveForm, noticeForm */

.ck-editor__editable {
  min-height: 400px;
}