img {
  object-fit: contain;
}

/* header */

.logoImage {
  width: 3rem;
  height: 3rem;
}

.korHeaderLogo {
  width: 14rem;
}

/* footer */

.logoKor {
  height: 2.3rem;
}

.familySite {
text-decoration: none;
}

/* banner */

.swiper-button-next::after {
  position: absolute;
  right: 100px;
  color: #cbe0df;
}

.swiper-button-prev::after {
  position: absolute;
  left: 100px;
  color: #cbe0df;
}

/* orgChart, history */

.CIImage {
  width: 13%;
}

.imageUploadButton {
  color: #2E7D32;
  border: 1px solid rgba(46, 125, 50, 0.5);
  border-radius: 9px;
  background-color: rgba(46, 125, 50, 0.1);
  cursor: pointer;
  width: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px;
  font-size: 14px;
}

.imageUploadButton:hover {
  background-color: rgba(239, 245, 241, 0.5);
}

#orgChartInput {
  display: none;
}

#historyInput {
  display: none;
}

/* products */

.categoryImage {
  width: 100%;
}


/* productForm */

.productInput {
  display: none;
}

.fileUploadButton {
  color: #2E7D32;
  border: 1px solid rgba(46, 125, 50, 0.5);
  border-radius: 8px;
  background-color: rgba(46, 125, 50, 0.1);
  cursor: pointer;
  width: 90px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fileUploadButton:hover {
  background-color: rgba(239, 245, 241, 0.5);
}

/* productCategoryForm */
#productCategoryInput, #middleCategoryInput {
  display: none;
}

.categoryUploadButton {
  color: #2E7D32;
  border: 1px solid rgba(46, 125, 50, 0.5);
  border-radius: 8px;
  background-color: rgba(46, 125, 50, 0.1);
  cursor: pointer;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px
}

.categoryUploadButton:hover {
  background-color: rgba(239, 245, 241, 0.5);
}

/* admin panel*/

.uploadButton {
  color: #2E7D32;
  border: 1px solid rgba(46, 125, 50, 0.5);
  border-radius: 8px;
  background-color: rgba(46, 125, 50, 0.1);
  cursor: pointer;
  width: 80px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}

#bannerInput,
#headerLogoInput,
#footerLogoInput,
#catalogInput,
#approvalInput,
#taxInput,
#inputQuestionPhoto,
#inputArchivePhoto{
  display: none;
}

@media screen and (max-width: 900px) {
  .logoImage {
    width: 2rem;
    height: 2rem;
  }

  .korHeaderLogo {
    width: 10rem;
  }

  .logoKor {
    height: 2rem;
  }

  .CIImage {
    width: 10%
  }

  .imageUploadButton,
  .fileUploadButton,
  .categoryUploadButton {
    font-size: 13px;
    padding: 8px;
  }

  .uploadButton {
    font-size: 13px;
  }
}

@media screen and (max-width: 600px) {
  .logoKor {
    height: 1.3rem;
  }

  .CIImage, .korHeaderLogo {
    display: none;
  }

  .imageUploadButton {
    font-size: 11px;
    padding: 7px;
    width: 100px;
  }

  .fileUploadButton,
  .categoryUploadButton {
    font-size: 11px;
    padding: 7px;
  }

  .uploadButton {
    font-size: 11px;
    width: 60px;
  }
}